<h1>Добавление пользователя</h1>
<form method="POST">
  <label>Почта</label><br>
  <input type="email" name="mail" class="field" maxlength="50" /><br><br>
  <label>Логин</label><br>
  <input name="login" class="field" maxlength="30" /><br><br>
  <label>Пароль</label><br>
  <input type="password" name="password" class="field" maxlength="30" /><br><br>
  <input type="submit" value="Отправить" />
</form>